
----------------------------------------------------------------------
.classes-div {
	background: #fff url("../images/classes-bk.png") right bottom no-repeat;
	background-size: auto 100%;
}
#pt_masonry {
	margin: 0px 0px 76px 0px;
}
	#pt_masonry:after {
		content: '';
		display: block;
		clear: both;
	}
	#pt_masonry .masonry-item { 
		position: relative;
		display: inline-block;
		border: 0px solid #f4f4f4;
		margin: 0px 0px 25px 0px;
		overflow: hidden;
	}
		#pt_masonry .masonry-item .overlay {
			position: absolute;
			top: 0px;
			left: 0px;
			z-index: 999;
			padding: 30px 25px;
			font-family: "";
			font-weight: 400;
			font-size: 13px;
			color: #fff;
			opacity: 0;
			cursor: default;
		}
			#pt_masonry .masonry-item.skin1 .overlay {
				background: #62dc42;
			}
			#pt_masonry .masonry-item.skin2 .overlay {
				background: #ff4739;
			}
		#pt_masonry .masonry-item:hover .overlay {
			opacity: 1;
		}
		
		#pt_masonry .masonry-item img { 
			display: block;
			margin: 0px 0px 0px 0px;
			border: 0px solid #fff; 
		}
	#pt_masonry .masonry-item h4 {
		display: inline-block;
		padding: 10px 16px;
		background: #1a1a1a;
		position: absolute;
		bottom: 84px;
		left: 2px;
		font-family: "Montserrat";
		font-weight: 700;
		font-size: 16px;
		color: #fff;
		text-transform: uppercase;
	}
	#pt_masonry .masonry-item h5 {
		display: inline-block;
		padding: 15px 16px 15px 16px;
		position: absolute;
		bottom: 38px;
		left: 2px;
		font-family: "Open Sans";
		font-weight: 400;
		font-size: 13px;
		color: #fff;
	}
		#pt_masonry .masonry-item.skin1 h5 {
			background: #62dc42;
		} 
		#pt_masonry .masonry-item.skin2 h5 {
			background: #ff4739;
		} 
